.heading {
  font-family: $font-heading;
  text-align: center;
  color: black;
  font-size: 40px;
  margin-bottom: 30px;
}

.subheading {
  font-family: $font-heading;
  text-align: center;
  color: black;
  font-size: 25px;
  margin: 0;
}
