@use '../variables.scss';
@use '../buttons.scss';
@use '../forms.scss';

.profile {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  margin-bottom: 120px;
  max-width: 64%;

  section {
      margin: 50px;
  }

  &__heading {
      margin-bottom: 110px;
  }

  &__elem {
      margin: 20px;
      padding: 20px;
      border-bottom: 1px double black;
    //   font-family: $font-notes;
    font-family: sans-serif;
  }
}