
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 2px;

    &__heading {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: "Merriweather Sans", sans-serif;
        font-size: 40px;
        font-weight: 700;
    }
    &__link {
        text-decoration: none;
        color: #21262c;
    }
}