@use 'variables';

/*BUTTONS*/////////////////////////////////////////////////////////////////////////////////////////

.btn {
  font-family: variables.$font-btn;
  font-size: 14px;
  padding: 7px 16px;
  background-color: variables.$primary-light;
  border: 1px solid variables.$primary-dark;
  border-radius: 2px;
  color: variables.$primary-dark;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3px;
  cursor: pointer;
  &--bold {
      color: variables.$primary-light;
      background-color: variables.$primary-dark;
  }

  &--username {
      border: none;
      text-transform: none;
      padding: 7px;
      font-weight: bold;
      color: variables.$secondary-bright;
  }

  &--submit {
      font-size: 14px;
      width: 100px;
      background-color: variables.$primary-dark;
      color: variables.$primary-light;
      margin: 43px auto 20px;
  }
 
  &--nav {
    border: none;
    text-transform: none;
    padding: 7px;
    font-weight: bold;
    margin: 2px 0;
    background-color: transparent;
    padding: 0px 2px;
    text-transform: uppercase;
    font-weight: 400;
    &--selected {
      color: variables.$secondary-bright;
      font-weight: 500;
    }
    &::before, &::after {
      content: ' — '
    }
  }

  &--delete {
    display: block;
    background-color: variables.$primary-danger;
    color: variables.$primary-light;
    border: 1px solid variables.$primary-danger;
    &--poll {
      margin: 2px auto;
    }
  }

  &--vote {
      padding: 8px;
      color: variables.$primary-dark;
      border-radius: 2px;
      text-transform: none;
      margin: 0 auto;
      font-size: 16px;
      font-family: variables.$font-btn;
      width: 300px;
  }

  &--selected {
      background-color: variables.$selected;
  }

  &--plus {
      margin: 10px;
      align-self: center;
      border: none;
      font-size: 20px;
  }

  &--create {
    display: inline-block;
    text-decoration: none;
    border: 1px solid variables.$primary-bright;
    color: variables.$primary-dark;
    background-color: variables.$primary-bright;
      @media only screen and (max-width: 500px) {
        padding: 7px 10px;
      } 
  }
  &--supp {
    border: none;
    font-size: 13px;
    padding: 0;
    &-selected {
      text-decoration: underline;
    }
  }
  &--hidden {
    visibility: hidden;
  }
}

/*HEADINGS*////////////////////////////////////////////////////////////////////////////////////////

.heading {
  font-family: variables.$font-heading;
  text-align: center;
  color: variables.$primary-dark;
  font-size: 40px;
  margin-bottom: 12px;
  padding: 10px;

  @media only screen and (max-width: 700px) {
    font-size: 30px;
  } 
}

.subheading {
  font-family: variables.$font-heading;
  text-align: center;
  color: variables.$primary-dark;
  font-size: 25px;
  margin: 0;
  padding: 10px;

  @media only screen and (max-width: 700px) {
    font-size: 20px;
  } 
}

.user-information__heading, .user-polls__heading {
    margin-top: 40px;
    margin-bottom: 70px;
}

/*FORMS*///////////////////////////////////////////////////////////////////////////

.wrapper {
  position: relative;
}

.form {
  font-family: variables.$font-primary;
  background-color: variables.$primary-light;
  border: 3px double variables.$primary-dark;
  border-radius: 2px;
  padding: 30px 80px 90px;
  max-width: 300px;
  margin: 40px auto;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;

  &--profile {
      border: none;
      margin: 10px;
      display: flex;
      flex-direction: row;
  }

  &__label {
      padding: 0px 0px;
      font-size: 11px;
      color: variables.$primary-dark;
      margin-top: 20px;  
      font-weight: 600;
      text-transform: uppercase;
  }

  &__input {
      font-size: 15px;
      margin: 8px 0px;
      border: none;
      border-bottom: 1.5px solid variables.$primary-dark;  
      background-color: transparent; 
      color: variables.$secondary-bright;
      padding: 10px 2px;

      &--poll-form {
        @extend .form__input;
        width: 100%;
      }

      &--danger {
        border-bottom: 2px solid variables.$primary-danger;
      }
  }

  &__input:invalid {
    box-shadow: none;
  }

  &__input:focus {
      border-bottom: 1.5px solid variables.$secondary-bright;
      outline: none;
  }
  &__input--danger:focus {
    border-bottom: 2px solid variables.$primary-danger;
  }
  &__notes {
      min-height: 17px;
      padding: 0px 0px;
      font-size: 13px;
      color: variables.$primary-danger;
      display: inline-block;

      &--additional {
          margin: 0 auto;
          color: variables.$primary-dark;
          font-size: 13px;
      }

      &--info {
        padding: 0px 70px;
        color: variables.$secondary-bright;
        font-size: 14px;
      }
  }

  &__link {
      color: variables.$secondary-bright;

      &:active, &:visited {
          color: variables.$secondary-bright;
      }
  }

  &__subheading {
    text-align: center;
  }

  &__wrapper {
    display: flex;
  }

  &--user-information {
    padding: 30px 80px 40px;
  }

  &__minus {
    position: absolute;
    display: inline;
    background-color: transparent;
    border: none;
    top: 10%;
    &:hover {
      cursor: pointer;
    }
  }

}

.create-poll-form {
  max-width: 500px;

  @media only screen and (max-width: 500px) {
    max-width: 240px;
  } 
}

.eye-icon {
  padding: 0px 5px;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
    .form {
      padding: 60px;
      padding-bottom: 90px;
      max-width: 220px;
      &__label, &__notes {
          padding: 0px 0px;
      }
      &__notes--profile {
          padding: 0px 0px;
      }
      &__input {
          margin: 8px 0px;      }
    }
}
