@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&display=swap');
#chart {
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.poll__section {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.poll {
  margin-bottom: 100px;
  margin-top: 50px;
  &__heading {
    text-decoration: underline;
  }
  &__options {
    margin: 0 auto;

    @media only screen and (max-width: 1024px) {
      margin-bottom: 100px;
    }
  }

  &__option {
    margin: 5px auto;
  }
  &__votes {
    border-top: 3px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
  }
  &__additional {
    font-family: 'Merriweather Sans', sans-serif;
  }
}

.additional {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #535353;
  font-family: sans-serif;
  font-size: 11px;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  @media only screen and (max-width: 1024px) {
    margin-bottom: 70px;
  }
  p {
      margin: 10px 10px;
  }
}
