#chart {
  margin: 0 auto;
}

.poll__section {
  display: flex;
  flex-direction: row;
}

.poll {
  margin-bottom: 150px;

  &__options {
    margin: 0 auto;
  }

  &__option {
    margin: 5px auto;
  }
  &__votes {
    border-top: 3px solid black;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    // font-family: $font-notes;
  }
}

.additional {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(82, 82, 82);
  margin: 150px 0;
  font-style: italic;
  // font-family: $font-notes;
  font-family: sans-serif;
  font-size: 11px;
  
  p {
      margin: 10px 10px;
  }
}